.chatContainer {
  background-color: #fff;
  border-radius: 10px;
}

.chatBody {
  display: flex;
  background-color: #eae6df;
  border-radius: 10px;
  padding: 10px;
}

.border {
  border-left: 1px solid #cccccc;
  margin: 0px 10px 0px 10px;
}
