.mainChatContent {
  padding: 10px 10px;
  border-right: 1px solid #ebe7fb;
  padding-left: 0px;
}

.contentBody {
  height: calc(100% - (270px));
  overflow: auto;
}

.contentBodyOverflow {
  height: calc(100% - (-40px));
  overflow: auto;
}

.contentFooter {
  padding-top: 30px;
}

.messageInputWrapper {
  background-color: #fff;
}

/* .messageInputWrapper .overflow {
  margin-top: -300px;
} */

.sendNewMessage {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
}

.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: #ecefff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #4665ff;
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}
.sendNewMessage button:hover {
  transform: scale(1.2);
}
.sendNewMessage button i {
  display: block;
}
.sendNewMessage input {
  flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}

.chatItems {
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}

@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.senderBox {
  background-color: #acfcac;
  color: #000000;
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  min-width: 215px;
}

.receiverBox {
  background-color: #fff;
  color: #000000;
  padding: 15px;
  border-radius: 10px 10px 10px 0px;
  max-width: 50%;
  min-width: 215px;
}

.chatMessage {
  user-select: none;
}

.header {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.icon {
  background-color: #ecefff;
  padding: 10px;
  border-radius: 100px;
  color: #4665ff;
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconGap {
  margin: 0px 5px 0px 5px;
}

.senderContainer {
  display: flex;
  margin-bottom: 50px;
  align-items: flex-end;
  justify-content: flex-end;
  animation-delay: 0.8s;
}

.doubleCheck {
  display: flex;
  justify-content: flex-end;
}
